.login-layout {
    -fx-background-color: rgb(24, 24, 24);
}

.login-card {
    -fx-background-color: rgb(24, 24, 24);
}

.bg-image {
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.login-card .login-title {
    -fx-text-fill: rgb(255, 255, 255);
}

.login-card .login-input {
    -fx-background-color: rgb(48, 48, 48);
    -fx-font-size: 16px;
    -fx-prompt-text-fill: rgb(130, 130, 130);
    -fx-text-fill: rgb(255, 255, 255);
}

.login-card .login-error {
    -fx-text-fill: rgb(246, 55, 55);
    -fx-font-size: 13px;
}

.login-card .login-log-btn {
    -fx-font-size: 16px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: rgb(48, 48, 48);
}

.login-card .login-log-btn:hover {
    -fx-background-color: rgb(80, 80, 80);
}

.login-card .login-separator {
    -fx-border-color: rgb(48, 48, 48);
    -fx-border-width: 1 0 0 0;
}

.login-card .ms-login-btn {
    -fx-background-color: rgb(48, 48, 48);
}

.login-card .ms-login-btn:hover {
    -fx-background-color: rgb(80, 80, 80);
}

.login-with-label {
    -fx-text-fill: rgb(255, 255, 255);
}