.app-layout {
    -fx-background-color: rgb(24, 24, 24);
}

.sidemenu {
    -fx-background-color: rgb(24, 24, 24);
}

.bg-image {
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.home-title {
    -fx-text-fill: rgb(255, 255, 255);
}

.sidemenu-nav-btn {
    -fx-border-width: 0 0 0 10px;
    -fx-border-radius: 1px;
    -fx-background-color: transparent;
    -fx-font-size: 50px;
    -fx-text-alignment: left;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-border-color: transparent;
}

.sidemenu-nav-btn.button {
    -fx-alignment: center-left;
}

.sidemenu-nav-btn.active {
    -fx-border-color: rgb(48, 48, 48);
}

.sidemenu-nav-btn-icon {
    -fx-fill: rgb(200, 200, 200);
}

.sidemenu-nav-btn-icon:hover {
    -fx-fill: rgb(240, 240, 240);
}

.user-pane {
    -fx-background-color: rgb(32, 32, 32);
    -fx-background-radius: 5px;
}

.user-pane .username-label {
    -fx-text-fill: rgb(255, 255, 255);
}

.logout-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.logout-icon {
    -fx-fill: rgb(246, 55, 55);
}

.logout-icon:hover {
    -fx-fill: rgb(246, 100, 100);
}