.app-layout {
    -fx-background-color: rgb(24, 24, 24);
}

.sidemenu {
    -fx-background-color: rgb(24, 24, 24);
}

.bg-image {
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.home-title {
    -fx-text-fill: rgb(255, 255, 255);
}

.sidemenu-nav-btn {
    -fx-border-width: 0 0 0 10px;
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-text-alignment: left;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-max-width: 350px;
    -fx-border-color: transparent;
}

.sidemenu-nav-btn.button {
    -fx-alignment: center-left;
}

.sidemenu-nav-btn:hover {
    -fx-background-color: rgb(65, 65, 65);
}

.sidemenu-nav-btn.active {
    -fx-border-color: rgb(48, 48, 48);
    -fx-background-color: rgb(80, 80, 80);
}

.sidemenu-nav-btn-icon {
    -fx-fill: rgb(200, 200, 200);
}

.user-pane {
    -fx-background-color: rgb(48, 48, 48);
}

.user-pane .username-label {
    -fx-text-fill: rgb(255, 255, 255);
}

.logout-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.logout-icon {
    -fx-fill: rgb(246, 55, 55);
}